# Laravel & PHP
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
/.phpunit.result.cache
/.env.*.php
/.env.*
/.DS_Store
Thumbs.db
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*.js.map
/public/css/*.css.map
/public/build
/.sass-cache
/.cache
/.pnp
.pnp.js
.env.backup
.env.example
.env.local
.env.development
.env.production
.env.test
.env.testing
